@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: Montserrat, sans-serif;

  --color-deepgray: #1a1a1a;
  --color-darkgray: #2a2a2a;
  --color-semidarkgray: #3a3a3a;
  --color-lightgray: #e5e5e5;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  a {
    @apply underline;
  }

  input {
    @apply text-deepgray p-0.5 bg-lightgray;
  }

  input[type="radio"] {
    @apply mr-1;
  }
}
